title {color: black;
    text-align: center;
    font-size: 10}
#body {background-color: lightblue;
    text-align: center;
    font-size: 10}
h1 {color: black;
    text-align: center;
    font-size: 10}
form {color: black;
    text-align: center;
    font-size: 10}
h3 {color: white;
    text-align: center;
    font-size: 10}
p {color: black;
    text-align: center;
    font-size: 10}
textarea {border-style: solid;
    font-size: 200}
