<!DOCTYPE html>

<html>
  <head>
    <title>Blog-It</title>
  </head>
  <style type="text/css">
    body {
      font-family: sans-serif;
      width: 800px;
      margin: 0 auto;
      padding: 10px;
    }
    a {
      padding: 10px;
    }
    hr {
      font-family: sans-serif;
      margin: 20px auto;
    }
  </style>
  <body>
    <a href="/"><h1>Blog-It</h1></a>

    <hr>


      <div class="blog">
        <div class="blog-title">{{post.title}}</div>
        <pre class="blog-body">{{post.blog}}</pre>
      </div>


  </body>
</html>
